<!--
==============================================
; Title: nodebucket contact.component.html
; Author: Chad ONeal
; Date: 03/30/2023
; Description: contact.component.html
==============================================
-->

<!--card section to hold address section-->
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <h1><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0
        0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
      </svg></h1>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>10023 Hill Rd</p>
      <p>Knoxville, TN</p>
    </mat-card-content>
  </div>

  <!--card section to hold phone number info-->
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <div class="col-sm-12">
        <h1><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
          <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0z"/>
        </svg></h1>
      </div>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 865-227-0351</p>
      <p>Toll-free: 1-800-591-0467</p>
      <p>Fax: 865-867-5309</p>
    </mat-card-content>
  </div>
</div>

<br><br><br><br>

<!--section to hold message at bottom of card-->
<div fxLayout="column">
    <p style="text-align: center; color: #CCA43D; font-weight: bold; font-size: 30px;">
        Getting in touch is easy!
    </p>
</div>
