<!--
==============================================
; Title: nodebucket about.component.html
; Author: Chad ONeal
; Date: 04/05/23
; Description: about.component.html
==============================================
-->

<!--section to hold photos-->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img alt="node.js logo"src="./assets/node.js-logo.png"/>
      </div>
      <div>
        <img class="img-2" alt="bucket"src="./assets/bucket.jpg"/>
      </div>
    </div>
  </div>


  <!--section for about Loan-App-->
  <div fxFlex>
    <h1>Who is Nodebucket?</h1>
    <p>
      NodeBucket is a streamlined and efficient employee task management system that provides a user-friendly interface for managing tasks.
      With NodeBucket, employees can easily login to the system and create tasks that need to be completed. These tasks can be added to the
      to-do column, and employees can move them to the done column once completed. Furthermore, if a task is no longer relevant, employees
      can delete it from the system with ease.<br><br>

     The simple and intuitive design of NodeBucket makes it a popular choice for businesses of all sizes. The system provides a comprehensive
     overview of all tasks, making it easy to track progress and prioritize work. NodeBucket's user-friendly interface allows employees to
     manage tasks efficiently and effectively, without the need for extensive training or technical knowledge. The system is designed to be
     accessible to all employees, regardless of their technical expertise.<br><br>

    NodeBucket prioritizes security and privacy. The system employs industry-standard encryption protocols to ensure that all data
    is secure, and access to the system is  employee-ID protected. Employees can logout of the system easily, ensuring that their data remains secure
    when they are not using the system.<br><br>

    NodeBucket is a reliable and efficient employee task management system that allows employees to manage tasks with ease.
    The system's user-friendly interface, comprehensive task overview, and robust security measures make it a popular choice for businesses
    looking to streamline their task management processes.
    </p>

  </div>
</div>