/*
============================================
; Title: login.component.css for nodebucket
; Author: Professor Krasso
; Modified By: Chad ONeal
; Date: 03/25/2023
; Description: login.component.css nodebucket
===========================================
*/

/* stylings for the login page */
.login-container {
  width: 35%;
  margin: 10% auto;
}

/* stylings for the login title */
.login-title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding: 25px;
}

/* stylings for the login subtitle */
.login-subtitle {
  text-align: center;
  font-weight: light;
  font-size: 18px;
  padding: 5px;
  color: #CCA43D;
}

/* stylings for the login form */
.mat-card {
  padding: 0;
}

/* stylings for the login form header */
.mat-card-header {
  background-color: #2A623D;
  padding-left: 8%;
  padding-top: 15px;
  color: #AAAAAA;
}

/* stylings for the login form content */
.mat-card-content {
  padding: 28px;
}

/* stylings for the login form actions */
.mat-card-actions {
  padding: 25px;
}

/* stylings for the login form button */
.btn-lg {
  height: 50px;
  font-size: 18px;
  background-color: #2A623D;
  color: #AAAAAA;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #2A623D !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #2A623D !important;
}
