<!--
==============================================
; Title: nodebucket home.component.html
; Author: Professor Krasso
; Modified by: Chad ONeal
; Date: 03/25/2023
; Description: html for nodebucket
==============================================
-->

<!-- This is the home page for the nodebucket application. -->
<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait until the last minute to begin working on your tasks.
    </span>
  </h1>
</div>
