<!--
==============================================
; Title: nodebucket home.component.html
; Author: Professor Krasso
; Modified by: Chad ONeal
; Date: 03/25/2023
; Description: html for nodebucket
==============================================
-->

<!-- This is the home page for the nodebucket application. -->
<div fxLayout="column" class="main-welcome">

  <div fxFlex>
    <h1 class="title">
      Welcome to NodeBucket!
    </h1>
  </div>

  <!--task container-->
  <div fxFlex>
    <div class="task-container mat-elevation-z4" fxLayout="column">
      <mat-card>
        <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset()">
          <mat-form-field appearance="fill" class="w-100">
            <input matInput name="task" formControlName="task" placeholder="Enter a task name..." />

            <button mat-icon-button type="submit" [disabled]="!taskForm.valid" matSuffix>
              <mat-icon color="primary" class="task-add" matSuffix>add_circle</mat-icon>
            </button>
          </mat-form-field>

          <!--error handling in task field -->
          <mat-error *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">
            Task is a required field.
          </mat-error>

          <mat-error *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">
            The task field must be at least 3 characters in length.
          </mat-error>

          <mat-error *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">
            The task field cannot exceed 35 characters in length.
          </mat-error>
        </form>
      </mat-card>
    </div>
  </div>
  <br /><br />


  <!--to-do and done columns-->
  <div fxFlex>

    <div fxLayout="row" fxLayoutGap="15px" class="task-container" style="margin-top: 10px;">

      <!-- first row to-do column-->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>ToDo</mat-card-title>

          <mat-card-content>

            <!-- todo -->
            <div class="task-column">
              <div *ngFor="let item of todo">
                <mat-card class="mat-elevation-z0 task-card">
                  <mat-card-content>
                    <div fxLayout="row">

                      <div fxFlex>
                        {{ item.text }}
                      </div>

                      <!--add delete icon here-->
                      <div fxFlex fxLayoutAlign="end" style="margin-top: -7px;">
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon color="warn">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                </mat-card-content>

                </mat-card>

              </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
      <!-- end of first row -->

      <!-- second row done column-->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Done</mat-card-title>

          <mat-card-content>
            <!-- done -->
            <div fxLayout="column" fxLayoutGap="10px" class="task-column mat-elevation-z3">

              <mat-card *ngFor="let item of done" cdkDrag class="task-card mat-elevation-z1">
                <mat-card-content>
                  <div fxLayout="row">
                    <!-- todo task text -->
                    <div fxFlex>{{ item.text }}</div>

                  </div>
                </mat-card-content>
                </mat-card>

            </div>
          </mat-card-content>
        </mat-card>
      </div>


    </div>
  </div>


</div>

