<!--
==============================================
; Title: base-layout.component.html
; Author: Professor Krasso
; Modified by: Chad ONeal
; Date: 03/25/2023
; Description: html for nodebucket
==============================================
-->

<!--logout dialog warnings -->
<div>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>

<!-- This is the base layout for the nodebucket application. -->
<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>

      <!--slytherin image-->
      <img src="./assets/Slytherin-Emblema.png" alt="slithering snake">
      <div class="navbar-container">

        <!-- logo -->
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" routerLink="/about" mat-button>About</button>
        <button class="navbar-link" routerLink="/contact" mat-button>Contact</button>
      </div>

      <!-- spacer -->
      <div fxFlex></div>

      <!-- profile menu -->
      <div>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User profile menu">
          <mat-icon style="margin-left: -195%; font-size: 30px;">person</mat-icon>
        </button>
        <mat-menu #profileMenu>
          <p style="padding: 10px; font-size: 16px; font-weight: lighter;">Signed in as {{ sessionName }}</p>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Log out</span>
          </button>
        </mat-menu>
      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
